.header{
	color: #EFEFEF;
	font-family: 'Righteous', cursive;
}
.logout {
	color: #155765;
}

.title{
	font-family:'Righteous'
}

.predict{
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #155765;
}